[submodule "autonameow/thirdparty/epubzilla"]
	path = autonameow/thirdparty/epubzilla
	url = https://bitbucket.org/odeegan/epubzilla.git
[submodule "autonameow/thirdparty/pyexiftool"]
	path = autonameow/thirdparty/pyexiftool
	url = git://github.com/smarnach/pyexiftool.git
[submodule "autonameow/thirdparty/nameparser"]
	path = autonameow/thirdparty/nameparser
	url = git@github.com:derek73/python-nameparser.git
