include CHANGES.txt
include LICENSE.txt
include README.md
include autonameow/analyzers/probable_extension_lookup
include autonameow/core/metadata/canonical_language.yaml
include autonameow/core/metadata/canonical_publisher.yaml
include autonameow/extractors/filesystem/crossplatform_fieldmeta.yaml
include autonameow/extractors/filesystem/filetags_fieldmeta.yaml
include autonameow/extractors/filesystem/guessit_fieldmeta.yaml
include autonameow/extractors/metadata/extractor_exiftool_fieldmeta.yaml
include autonameow/extractors/metadata/extractor_jpeginfo_fieldmeta.yaml
include autonameow/extractors/metadata/extractor_pandoc_fieldmeta.yaml
include autonameow/extractors/metadata/extractor_pandoc_template.plain
include autonameow/util/mimemagic.mappings
include autonameow/util/mimemagic.preferred
